.content {
  width: 90%;
  margin: 30px 5%;
}
.paper {
  width: 100%;
  padding: 40px;
  margin: 30px auto;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .content {
    width: 600px;
    margin: 30px;
  }
  .paper {
    width: 100%;
    padding: 40px;
    margin: 30px auto;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .infoLeft {
    flex: 1;
  }
  .infoRight {
    flex: 1;
  }
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.block {
  width: 100%;
}
.label {
  flex: 2;
}
.text {
  flex: 7;
}
.toggle {
  flex: 1;
}
